In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

import seaborn as sns

from sklearn.metrics import confusion_matrix, mean_absolute_error, mean_squared_error

from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor

from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression,Ridge,Lasso

from catboost import CatBoostClassifier, CatBoostRegressor

from xgboost import XGBClassifier, XGBRegressor

import warnings
warnings.filterwarnings("ignore")

In [8]:

df = pd.read_csv("data/stud.csv")

df

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [27]:
x = df.drop(columns=["math_score"],axis=1)

y = df["math_score"]

In [30]:
num_features = x.select_dtypes(exclude="object").columns
cat_features = x.select_dtypes(include="object").columns


cat_features

Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course'],
      dtype='object')

In [31]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer


numeric_transformer = StandardScaler()
categorical_transformer = OneHotEncoder()
preprocessor = ColumnTransformer(
    [
        ('StandardScaler', numeric_transformer, num_features),
        ('OneHotEncoder', categorical_transformer, cat_features)
    ]
)

In [32]:
x = preprocessor.fit_transform(x)

In [33]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [41]:
def evaluate_model(trye,predicted):
    mae = mean_absolute_error(trye, predicted)
    mse = mean_squared_error(trye, predicted)
    rmse = np.sqrt(mse)
    print(f"MAE: {mae}, MSE: {mse}, RMSE: {rmse}")
    
    cm = confusion_matrix(trye, predicted)
    sns.heatmap(cm, annot=True, fmt='d', cmap='Blues')
    plt.xlabel('Predicted')
    plt.ylabel('True')
    plt.title('Confusion Matrix')
    plt.show()

    return mae, mse, rmse

In [44]:
# üì¶ Import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Regression models
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor
from catboost import CatBoostRegressor

# üßÆ Custom evaluation function
def evaluate_model(y_true, y_pred):
    mae = mean_absolute_error(y_true, y_pred)
    mse = mean_squared_error(y_true, y_pred)
    rmse = np.sqrt(mse)
    return mae, mse, rmse

# üìÑ Load your dataset (replace with your actual data)
# Example: df = pd.read_csv("data.csv")
#

# üß™ Split data
# x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# üîß Models dictionary
models = {
    "LinearRegression": LinearRegression(),
    "Ridge": Ridge(),
    "Lasso": Lasso(),
    "DecisionTreeRegressor": DecisionTreeRegressor(),
    "RandomForestRegressor": RandomForestRegressor(),
    "KNeighborsRegressor": KNeighborsRegressor(),
    "SVR": SVR(),
    "XGBRegressor": XGBRegressor(),
    "CatBoostRegressor": CatBoostRegressor(verbose=0),
}

# üìä Lists to store results
r2_list = []
models_list = []

# üîÅ Model training and evaluation
for model_name, model in models.items():
    model.fit(x_train, y_train)

    y_train_pred = model.predict(x_train)
    y_test_pred = model.predict(x_test)

    model_train_mae, model_train_mse, model_train_rmse = evaluate_model(y_train, y_train_pred)
    model_test_mae, model_test_mse, model_test_rmse = evaluate_model(y_test, y_test_pred)
    r2 = r2_score(y_test, y_test_pred)

    r2_list.append(r2)
    models_list.append(model_name)

    print(f"\nüîç Model: {model_name}")
    print(f"Train MAE: {model_train_mae:.4f}, MSE: {model_train_mse:.4f}, RMSE: {model_train_rmse:.4f}")
    print(f"Test  MAE: {model_test_mae:.4f}, MSE: {model_test_mse:.4f}, RMSE: {model_test_rmse:.4f}")
    print(f"Test  R¬≤ Score: {r2:.4f}")

# üèÜ Display performance summary
results_df = pd.DataFrame({
    "Model": models_list,
    "R2 Score": r2_list
}).sort_values(by="R2 Score", ascending=False)

print("\nüìà Model Performance Ranking:")
print(results_df)

üîç Model: LinearRegression
Train MAE: 4.2678, MSE: 28.3475, RMSE: 5.3242
Test  MAE: 4.2202, MSE: 29.1602, RMSE: 5.4000
Test  R¬≤ Score: 0.8802

üîç Model: Ridge
Train MAE: 4.2650, MSE: 28.3378, RMSE: 5.3233
Test  MAE: 4.2111, MSE: 29.0563, RMSE: 5.3904
Test  R¬≤ Score: 0.8806

üîç Model: Lasso
Train MAE: 5.2063, MSE: 43.4783, RMSE: 6.5938
Test  MAE: 5.1579, MSE: 42.5063, RMSE: 6.5197
Test  R¬≤ Score: 0.8253

üîç Model: DecisionTreeRegressor
Train MAE: 0.0187, MSE: 0.0781, RMSE: 0.2795
Test  MAE: 6.0600, MSE: 59.5800, RMSE: 7.7188
Test  R¬≤ Score: 0.7552

üîç Model: RandomForestRegressor
Train MAE: 1.8761, MSE: 5.5238, RMSE: 2.3503
Test  MAE: 4.5694, MSE: 35.0631, RMSE: 5.9214
Test  R¬≤ Score: 0.8559

üîç Model: KNeighborsRegressor
Train MAE: 4.5215, MSE: 32.6789, RMSE: 5.7165
Test  MAE: 5.6190, MSE: 52.6170, RMSE: 7.2538
Test  R¬≤ Score: 0.7838

üîç Model: SVR
Train MAE: 4.8692, MSE: 43.2570, RMSE: 6.5770
Test  MAE: 5.4015, MSE: 66.0420, RMSE: 8.1266
Test  R¬≤ Score: 0.7286

üîç Model: XGBRegressor
Train MAE: 0.6875, MSE: 1.0146, RMSE: 1.0073
Test  MAE: 5.1036, MSE: 43.5039, RMSE: 6.5958
Test  R¬≤ Score: 0.8212

üîç Model: CatBoostRegressor
Train MAE: 2.4054, MSE: 9.2578, RMSE: 3.0427
Test  MAE: 4.6125, MSE: 36.1037, RMSE: 6.0086
Test  R¬≤ Score: 0.8516

üìà Model Performance Ranking:
                   Model  R2 Score
1                  Ridge  0.880593
0       LinearRegression  0.880166
4  RandomForestRegressor  0.855908
8      CatBoostRegressor  0.851632
2                  Lasso  0.825320
7           XGBRegressor  0.821220
5    KNeighborsRegressor  0.783770
3  DecisionTreeRegressor  0.755156
6                    SVR  0.728600

In [45]:
pd.DataFrame(list(zip(models_list, r2_list)), columns=["Model", "R2 Score"]).sort_values(by="R2 Score", ascending=False)

                   Model  R2 Score
1                  Ridge  0.880593
0       LinearRegression  0.880166
4  RandomForestRegressor  0.855908
8      CatBoostRegressor  0.851632
2                  Lasso  0.825320
7           XGBRegressor  0.821220
5    KNeighborsRegressor  0.783770
3  DecisionTreeRegressor  0.755156
6                    SVR  0.728600

In [47]:
pred_df = pd.DataFrame({"Actual value":y_test, "Predicted value":y_test_pred})

pred_df

     Actual value  Predicted value
521            91        74.709499
737            53        54.706876
740            80        76.842097
660            74        76.580288
411            84        87.297491
..            ...              ...
408            52        47.095579
332            62        58.745708
208            74        69.989700
613            65        68.313052
78             61        64.850643

[200 rows x 2 columns]